#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "gamja"
name = "Gamja"
description.en = "Simple IRC web client"
description.fr = "Simple IRC web client"

version = "1.0.0-beta.10~ynh3"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://web.libera.chat/gamja/"
demo = "https://web.libera.chat/gamja/"
code = "https://codeberg.org/emersion/gamja"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://codeberg.org/emersion/gamja/archive/v1.0.0-beta.10.tar.gz"
    sha256 = "c6b3d4b6fbc407813a6e0c9a3d0bc6c1e4253064e40a42b0c47233df7c0564d5"

    [resources.sources.webircgateway]
    url = "https://github.com/kiwiirc/webircgateway/archive/be9fd5be5d995184d61fac64fc1742ceca25e05f.tar.gz"
    sha256 = "d240dc965d8c3700e9c2b2064d3b040b88ccadf454f99230b1de9c01ddce3800"
    autoupdate.upstream = "https://github.com/kiwiirc/webircgateway"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "20"

    [resources.go]
    version = "1.20"